# Data science :

## Data structures:

In [2]:
l = [1,3,4,9,"name",3]
t = (1,3,4,9,"name",3)
s = {1,3,4,9,"name",3}
d = {23:"twothree",'B':43,'c':'ccd'}

In [11]:
print("the type of l is",type(l))
print("the type of t is",type(t))
print("the type of s is",type(s))
print("the type of d is",type(d))

the type of l is <class 'list'>
the type of t is <class 'tuple'>
the type of s is <class 'set'>
the type of d is <class 'dict'>

In [12]:
print(l[1])
print(t[1])
print(3 in s)
print(d[23])

3
3
True
twothree

In [4]:
l

[1, 3, 4, 9, 'name', 3]

In [5]:
l[1:3]

[3, 4]

In [6]:
l[::-1]

[3, 'name', 9, 4, 3, 1]

In [7]:
t[:3]

(1, 3, 4)

In [13]:
d["newkey"] = 55

In [14]:
d

{23: 'twothree', 'B': 43, 'c': 'ccd', 'newkey': 55}

In [15]:
s.add("new item")

In [16]:
s

{1, 3, 4, 9, 'name', 'new item'}