# Python Data Structures:
Get introduced to Python data structures: <br>
data types and primitive as well as non-primitive data structures, such as strings, lists, stacks, etc.

### Abstract Data Type and Data Structures:
[1] Primitive Data Structures:

    Integers
    Float
    Strings
    Boolean

[2] Non-Primitive Data Structures:

    Arrays
    Lists
    Tuples
    Dictionary
    Sets
    Files

#### Primitive Data Structures:

These are the most primitive or the basic data structures. 
<br> They are the building blocks for data manipulation and contain pure, simple values of a data. 
<br>Python has four primitive variable types:

    Integers
    Float
    Strings
    Boolean

##### Integers :
You can use an integer represent numeric data, and more specifically, whole numbers from negative infinity to infinity, like 4, 5, or -1.

In [9]:
x = 18
y = 6
print(f'add: {x+y}')
print(f'sub: {x-y}')
print(f'multi: {x*y}')
print(f'dev: {int(x/y)}')

add: 24
sub: 12
multi: 108
dev: 3

##### Float:
"Float" stands for 'floating point number'. 
<br>You can use it for rational numbers, usually ending with a decimal figure, such as 1.11 or 3.14.

In [10]:
x = 4.0
y = 2.0

# Addition
print(x + y)

# Subtraction
print(x - y)

# Multiplication
print(x * y)

# Returns the quotient
print(x / y)

# Returns the remainder
print(x % y) 

# Absolute value
print(abs(x))

# x to the power y
print(x ** y)

6.0
2.0
8.0
2.0
0.0
4.0
16.0

<b>Note:</b> that in Python, you do not have to explicitly state the type of the variable or your data. 
<br>That is because it is a dynamically typed language.
<br>Dynamically typed languages are the languages where the type of data an object can store is mutable.

##### String:
Strings are collections of alphabets, words or other characters. 
<br> In Python, you can create strings by enclosing a sequence of characters within a pair of single or double quotes. 
<br> For example: 'cake', "cookie", etc.
You can also apply the + operations on two or more strings to concatenate them, just like in the example below:

In [12]:
x = 'Cake'
y = 'Cookie'
x + ' & ' + y

'Cake & Cookie'

Here are some other basic operations that you can perform with strings; For example, you can use * to repeat a string a certain number of times:

In [13]:
# Repeat
x * 2

'CakeCake'

You can also slice strings, which means that you select parts of strings:

In [15]:
# Range Slicing
z1 = x[2:] 

print(z1)

# Slicing
z2 = y[0] + y[1] 
`
print(z2)

ke
Co

Note that strings can also be alpha-numeric characters, but that the + operation still is used to concatenate strings.

In [16]:
x = '4'
y = '2'
x + y

'42'

Python has many built-in methods or helper functions to manipulate strings. 
<br> Replacing a substring, capitalising certain words in a paragraph, finding the position of a string within another string are some common string manipulations. 
<br> Check out some of these:

#### Capitalize strings:

In [17]:
str.capitalize('cookie')

'Cookie'

Retrieve the length of a string in characters. Note that the spaces also count towards the final

#### result:

In [ ]:
str1 = "Cake 4 U"
str2 = "404"
len(str1)

Check whether a string consists of only digits

In [21]:
str1.isdigit()
str2.isdigit()

True

Replace parts of strings with other strings

In [22]:
str1.replace('4 U', str2)

'Cake 404'

Find substrings in other strings; Returns the lowest index or position within the string at which the substring is found:

In [23]:
str1 = 'cookie'
str2 = 'cook'
str1.find(str2)

0

The substring 'cook' is found at the start of 'cookie'. As a result, you refer to the position within 'cookie' at which you find that substring. 
<br>In this case, 0 is returned because you start counting positions from 0!

In [24]:
str1 = 'I got you a cookie'
str2 = 'cook'
str1.find(str2)

12

Similarly, the substring 'cook' is found at position 12 within 'I got you a cookie'. Remember that you start counting from 0 and that spaces count towards the positions!

#### Boolean
This built-in data type that can take up the values: True and False, which often makes them interchangeable with the integers 1 and 0. Booleans are useful in conditional and comparison expressions, just like in the following examples:

In [25]:
x = 4
y = 2
x == y

False

In [26]:
x > y

True

In [27]:
x = 4
y = 2
z = (x==y) # Comparison expression (Evaluates to false)
if z: # Conditional on truth/false value of 'z'
    print("Cookie")
else: print("No Cookie")

No Cookie

### Data Type Conversion :
Sometimes, you will find yourself working on someone else's code and you'll need to convert an integer to a float or vice versa, for example. Or maybe you find out that you have been using an integer when what you really need is a float. In such cases, you can convert the data type of variables!

To check the type of an object in Python, use the built-in type() function, just like in the lines of code below:

In [28]:
i = 4.0
type(i)

float

When you change the type of an entity from one data type to another, this is called "typecasting". There can be two kinds of data conversions possible: implicit termed as coercion and explicit, often referred to as casting.

#### mplicit Data Type Conversion:
This is an automatic data conversion and the compiler handles this for you. Take a look at the following examples:

In [29]:
# A float
x = 4.0 

# An integer
y = 2 

# Divide `x` by `y`
z = x/y

# Check the type of `z`
type(z)

float

In the example above, you did not have to explicitly change the data type of y to perform float value division. The compiler did this for you implicitly.

#### Explicit Data Type Conversion:
This type of data type conversion is user defined, which means you have to explicitly inform the compiler to change the data type of certain entities. Consider the code chunk below to fully understand this:

In [30]:
x = 2
y = "The Godfather: Part "
fav_movie = y + x

TypeError: must be str, not int

In [14]:
l = [1,3,4,9,"name",3] # list
t = (1,3,4,9,"name",3) # tuple
s = {1,3,4,9,"name",3} # set
d = {23:"twothree",'B':43,'c':'ccd'} # dictionary

In [11]:
print("the type of l is",type(l))
print("the type of t is",type(t))
print("the type of s is",type(s))
print("the type of d is",type(d))

the type of l is <class 'list'>
the type of t is <class 'tuple'>
the type of s is <class 'set'>
the type of d is <class 'dict'>

In [12]:
print(l[1])
print(t[1])
print(3 in s)
print(d[23])

3
3
True
twothree

In [4]:
l

[1, 3, 4, 9, 'name', 3]

In [5]:
l[1:3]

[3, 4]

In [6]:
l[::-1]

[3, 'name', 9, 4, 3, 1]

In [7]:
t[:3]

(1, 3, 4)

In [13]:
d["newkey"] = 55

In [14]:
d

{23: 'twothree', 'B': 43, 'c': 'ccd', 'newkey': 55}

In [15]:
s.add("new item")

In [16]:
s

{1, 3, 4, 9, 'name', 'new item'}